@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;

}

:root{
    --primary-color:#000000;
    --secondary-color:#0000ff;
    --main-font-size:24px;
    --main-font-family:'Roboto', sans-serif;
}






tr, td{
    border: 2px solid var(--primary-color);
}

tr, td h4{
    font-size:var(--main-font-size);
    font-family: var(--main-font-family);
}

tr ,td input{
    padding: 1rem;
    font-size: 18px;
    font-family: var(--main-font-family);
}

table{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-left: 25%;
    border: 2px solid var(--secondary-color);
}

